{% extends 'base.html.twig' %}

{% block title %}Éditer mon profil{% endblock %}

{% block body %}
<div class="bodyProfileContainer">
    <div class="container containerBlank"></div>
<div class="container-fluid profileContainer">
	<div class="row">
		<div class="col-md-8 profileInfo"></div>
        
        <div>
            <h1>Informations Personnelles</h1>
            {{ form_start(profileForm) }}
            <button type="submit" class="submit-register">Editer votre profil</button>
                    {{ form_row(profileForm.lastname, {'attr': {'placeholder': "Nom"}, 'label': "Nom"}) }}
                    {{ form_row(profileForm.firstname, {'attr': {'placeholder': "Prénom"}, 'label': "Prénom"}) }}
                    {{ form_row(profileForm.email, {'attr': {'placeholder': "Email"}, 'label': "Email"}) }}
                    {{ form_row(profileForm.city, {'attr': {'placeholder': "Ville"}, 'label': "Ville"})}}
                    {{ form_row(profileForm.job, {'attr': {'placeholder': "Métier"}, 'label': "Métier"}) }}
                    {{ form_row(profileForm.picture, {'attr': {'placeholder': "Image"}, 'label': "Image"}) }}
            {{ form_end(profileForm) }}
	</div>
</div>
</div>
{% endblock %}
