{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="loginBody">
    <div class="container containerBlank"></div>
    <div class="container loginForm">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container registrationFrom"><h1>Création de votre compte</h1>

    {{ form_start(registrationForm) }}
    <button type="submit" class="btn read-more">S'inscrire</button>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.isAvailable) }}

    {{ form_end(registrationForm) }}
    </div>
</div>
</div>

{% endblock %}
