{% extends 'base.html.twig' %}
{% block metadescription %}Remplissez ce formulaire afin de vous inscrire et créer un compte{% endblock %}
{% block title %}Inscription{% endblock %}

{% block body %}
<h1 class="d-none"> Inscription </h1>
{% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
<div class="container contain-login">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2 contain-login-button">
                <a href="{{ path('app_login') }}"><div class="down-login-button">Connexion</div></a>
                <a href="{{ path('app_register') }}"><div class="up-login-button"><h1 class="title-register">Inscription</h1></div></a>
				</div>
				{# <div class="col-md-3 info-login">
                <img src="https://www.zupimages.net/up/20/51/ijl0.png" alt="logo" class="logo-login">
				</div> #}
				<div class="col-md-7">
                {{ form_start(registrationForm) }}
					<div class="row">
						{# <div class="col-md-6">
                            {{ form_row(registrationForm.civility, {'attr': {'placeholder': "Civilité"}, 'label': "Civilité"}) }}
						</div> #}
						<div class="col-md-6">
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
                            {{ form_row(registrationForm.lastname, {'attr': {'placeholder': "Nom"}, 'label': "Nom"}) }}
						</div>
						<div class="col-md-6">
                            {{ form_row(registrationForm.firstname, {'attr': {'placeholder': "Prénom"}, 'label': "Prénom"}) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
                            {{ form_row(registrationForm.email, {'attr': {'placeholder': "Email"}, 'label': "Email"}) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
                            {{ form_row(registrationForm.password.first, {'attr': {'placeholder': "Mot de passe"}, 'label': "Mot de passe"}) }}
						</div>
                        <div class="col-md-6">
                            {{ form_row(registrationForm.password.second, {'attr': {'placeholder': "Mot de passe"}, 'label': "Mot de passe"}) }}
						</div>
					</div>
					<div class="row">
						{# <div class="col-md-12">
                            {{ form_row(registrationForm.address, {'attr': {'placeholder': "Adresse"}, 'label': "Adresse"}) }}
						</div> #}
					</div>
					<div class="row">
						{# <div class="col-md-6">
                            {{ form_row(registrationForm.zipCode, {'attr': {'placeholder': "Code postal"}, 'label': "Code postal"}) }}
						</div> #}
						<div class="col-md-6">
                            {{ form_row(registrationForm.city, {'attr': {'placeholder': "Ville"}, 'label': "Ville"}) }}
						</div>
					</div>
					{# <div class="row">
						<div class="col-md-6">
                            {{ form_row(registrationForm.phone, {'attr': {'placeholder': "Téléphone"}, 'label': "Téléphone"}) }}
						</div>
                        <div class="col-md-6">
                            {{ form_row(registrationForm.birthday, {'attr': {'placeholder': "Date de naissance"}, 'label': "Date de naissance"}) }}
						</div>
					</div> #}
                     <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="submit-register">Inscription</button>
						</div>
					</div>
                {{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
