{% extends 'base.html.twig' %}

{% block title %}Les candidats{% endblock %}

{% block body %}

<div class="container-fluid missionsFilterContainer">
	<div class="row missionsRow">
		<div class="col-md-4 missionFilterContainer">
		</div>
		<div class="col-md-8 missionsContainer">
			<div class="row missionsRow">
                {% for mission in missions %}
                    <div class="card missionCard" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ mission.title }}</h5>
                            <p class="card-text">{{ mission.company }}</p>
                            <p class="card-text">{{ mission.recruiter }}</p>
                            <button type="button" class="btn btn-light missionReadMore" data-toggle="modal"
                            data-target="#modal-{{mission.id}}">En savoir plus</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
		</div>
	</div>
</div>

{# MODAL #}

{% for mission in missions %}
<div class="modal fade" id="modal-{{mission.id}}" tabindex="-1" aria-labelledby="modal-{{mission.id}}"aria-hidden="true">
    <div class="modal-dialog missionModal" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ mission.title }} - {{mission.company }} </h5>
        </div>
        <div class="modal-body">
          <p>{{ mission.description }}</p></p>
        </div>
        <div class="modal-footer">
          {% if app.user.role.id == 1 %}
          <button type="button" class="btn btn-primary missionReadMore">Choisir cette mission </button>
          {% endif %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
</div>
{% endfor %}


{% endblock %}