<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar navbar2">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="#" target="_blank"></a>
      <strong>TXR</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item active">
          <a class="nav-link" href="{{'/'}}">Accueil
            <span class="sr-only">(current)</span>
          </a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="{{ 'candidats' }}">Les candidats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'missions' }}">Les missions</a>
        </li>
      </ul>

      <!-- Right -->
      
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="{{ "profile" }}" class="nav-link border border-light rounded">Mon espace personnel
          </a>
        </li>
        {% if app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout')}}">Deconnexion</a>
        </li>
        {% endif %}
      </ul>
  

    </div>

  </div>
</nav>