{% extends 'base.html.twig' %}

{% block title %}Les candidats{% endblock %}

{% block body %}
{% include 'navbar2.html.twig'%}

<div class="container-fluid candidatesFilterContainer">
	<div class="row candidatesRow">
		<div class="col-md-4 filterContainer">
		</div>
		<div class="col-md-8 candidatesContainer">
			<div class="row candidatesRow">
                {% for candidate in candidates %}
                {% if candidate.role.id == 1 %}
                    <div class="card candidateCard" style="width: 18rem;">
                        <img class="card-img-top" src="{{ candidate.picture }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ candidate.firstname }} {{ candidate.lastname }}</h5>
                            <p class="card-text">{{ candidate.job }}</p>
                            <button type="button" class="btn btn-light read-more" data-toggle="modal"
                            data-target="#modal-{{candidate.id}}">Lire la suite</button>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            
		</div>
	</div>
</div>

{# MODAL #}

{% for candidate in candidates %}
<div class="modal fade" id="modal-{{candidate.id}}" tabindex="-1" aria-labelledby="modal-{{candidate.id}}"aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div>
            <img class="card-img-top" src="{{ candidate.picture }}" alt="Card image cap" width="200px">
        </div>
        <div class="modal-header">
            <h5 class="modal-title">{{ candidate.firstname }} {{ candidate.lastname }} {{candidate.job }} </h5>
        </div>
        <div class="modal-body">
          <p>{{ candidate.description }}</p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary read-more">Travailler avec {{ candidate.firstname }} </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
</div>
{% endfor %}


{% endblock %}