{% extends 'base.html.twig' %}

{% block title %}Les candidats{% endblock %}

{% block body %}


{% for message in app.flashes('notice') %}
    <div class="flash-notice flashMessage">
        {{ message }}
    </div>
{% endfor %}

<div class="container-fluid candidatesFilterContainer">
	<div class="row candidatesRow">
		<div class="col-md-4 filterContainer">
            <br>
            {{form_start(form)}}
            <h5>Rechercher par nom</h5>
            {{form_row(form.q)}}
            <br>
            <h5>Métiers</h5>
            {{form_row(form.job)}}
            <br>
            <h5>Technos</h5>
            {{form_row(form.techno)}}
            <br>
            <button type="submit">Filtrer</button>
            {{form_end(form)}}
		</div>
		<div class="col-md-8 candidatesContainer">
			<div class="row candidatesRow">
                {% for user in users %}
                {% if user.role.id == 1 %}
                    <div class="card candidateCard" style="width: 18rem;">
                        <img class="card-img-top" src="{{ user.picture }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.firstname }} {{ user.lastname }}</h5>
                            <p class="card-text">{{ user.job }}</p>
                            <button type="button" class="btn btn-light read-more" data-toggle="modal"
                            data-target="#modal-{{user.id}}">Lire la suite</button>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            
		</div>
	</div>
</div>

{# MODAL #}

{% for user in users %}
<div class="modal fade" id="modal-{{user.id}}" tabindex="-1" aria-labelledby="modal-{{user.id}}"aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div>
            <img class="card-img-top" src="{{ user.picture }}" alt="Card image cap" width="200px">
        </div>
        <div class="modal-header">
            <h5 class="modal-title">{{ user.firstname }} {{ user.lastname }} {{user.job }} </h5>
        </div>
        <div class="modal-body">
          <p>{{ user.description }}</p></p>
        </div>
        <div class="modal-footer">
            <a href="{{ path('cart_add', { 'id' : user.id }) }}"><button type="button" class="btn btn-primary read-more">Travailler avec {{ user.firstname }}</button></a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
</div>
{% endfor %}


{% endblock %}